.body {
}
.flex {
  display: flex;
  justify-content: center;
}
.main {
  flex-direction: column;
  align-items: center;
}
.choice-humen {
  flex-direction: column;
}

.choice-computer {
  flex-direction: column;
}
.question-mark {
  width: 200px;
  height: 200px;
}
.player-buttons {
  width: 200px;
  height: 200px;
}
.move-player {
  width: 200px;
  height: 200px;
}
